$padding-left: 12.5px;
body {
    margin: 0 auto;
    @include flex-center;

}

@mixin btnResetDefault {
    border: none;
    font-size: 1rem;
    text-align: left;
    background-color: transparent;
    color: #fff;
}

.select {
    display: inline-block;
    width: 180px;
    position: relative;
    &__header {
        @include btnResetDefault;
        background-color: rgb(20, 38, 225);
        color: #fff;
        text-align: left;
        height: 25px;
        width: 100%;
        border-radius: 50px;
        cursor: crosshair;
    }
    &__options {
        position: absolute;
        left: $padding-left;
        background-color: rgb(4, 8, 44);
        list-style: none;
        padding: 0;
        margin: 0;
        width: calc(100% - #{$padding-left * 2});
        visibility: hidden;
        opacity: 0;
        transition: all 400ms;
        transform: scaleY(0);
        transform-origin: top;
    }
    &__option {
        margin: $padding-left 0;
    }
    &__control {
        @include btnResetDefault;
        color: #fff;
        padding: 0 $padding-left;
        // margin: $padding-left 0;
        width: 100%;
        transition: all 400ms;
        cursor: crosshair;
        &:hover {
            background-color: rgb(20, 38, 225);
        }
    }
    &__opened {
        .select__options {
            transform: scaleY(1);
            visibility: visible;
            opacity: 1;
        }
    }
}