$padding-left: 12.5px;
body {
    margin: 0 auto;
    @include flex-column;
    justify-content: space-around;
    align-items: center;
}

@mixin btnResetDefault {
    border: none;
    font-size: 1rem;
    text-align: left;
    background-color: transparent;
    color: #fff;
}

body>div>div{
    width: 400px;
&>button{
    font-size: 18px;
}

}
.block{
    font-size: 18px;
    opacity: 0;
    &_visible{
        opacity: 1;
    }

}