@import './mixins';
@import './variables';
.page-header {
    margin: 0 auto;
    height: 505px;
    max-width: 1200px;
    // background-color: red;
    background: url(#{$base-img-dir}bitmap.jpg) no-repeat;
    background-position-x: right;
    // background-size: 110%;
    color: #fff;
}
.page-nav-body{
    max-width: 1200px;
    margin: 0 auto;
}

.page-nav-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #900000;
    height: 122px;
    font-style: normal;
}
.page-nav-logo > img {
    width: 122px;
    height: 122px;
}

.page-nav{
    @include flex-row;
    justify-content: space-around;
    font-family: 'Russia';
    font-weight: normal;
    font-style: normal;
    width: 100%;
}
.page-nav-btn{
    font-size: 30px;
    text-align: center;
    color: #5B5B5B;
    background-color: #fff;
    width: 25%;
    transition: all 0.4s;
    &:active{
        background-color: #900000;
        color: #fff;
    }
    &:hover{
        background-color: #333;
        color: #fff;
        text-decoration: none;

    }
}
