@import'./variables';
@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-Regular.eot');
    src: url('#{$base-font-dir}Russia-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-Regular.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-Regular.woff') format('woff'),
        url('#{$base-font-dir}Russia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-BoldItalic.eot');
    src: url('#{$base-font-dir}Russia-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-BoldItalic.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-BoldItalic.woff') format('woff'),
        url('#{$base-font-dir}Russia-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-LightItalic.eot');
    src: url('#{$base-font-dir}Russia-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-LightItalic.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-LightItalic.woff') format('woff'),
        url('#{$base-font-dir}Russia-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-MediumItalic.eot');
    src: url('#{$base-font-dir}Russia-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-MediumItalic.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-MediumItalic.woff') format('woff'),
        url('#{$base-font-dir}Russia-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-Medium.eot');
    src: url('#{$base-font-dir}Russia-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-Medium.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-Medium.woff') format('woff'),
        url('#{$base-font-dir}Russia-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-Bold.eot');
    src: url('#{$base-font-dir}Russia-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-Bold.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-Bold.woff') format('woff'),
        url('#{$base-font-dir}Russia-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-Light.eot');
    src: url('#{$base-font-dir}Russia-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-Light.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-Light.woff') format('woff'),
        url('#{$base-font-dir}Russia-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Russia';
    src: url('#{$base-font-dir}Russia-Italic.eot');
    src: url('#{$base-font-dir}Russia-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$base-font-dir}Russia-Italic.woff2') format('woff2'),
        url('#{$base-font-dir}Russia-Italic.woff') format('woff'),
        url('#{$base-font-dir}Russia-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

