$base-font-dir: '../../assets/fonts/';
$base-img-dir: '../../assets/images/';
// $base-font-size: 12px;
// $primary-color: #ff0079;
// $primary-color-darken: darken(#ff0079, 20%);
// $default-page-padding: 16px;
$yellow-color: #ffce00;
$violet-color:#9013fe;