body {
    @include flex-center;
    font-family: 'Comfortaa';
    font-weight: bold;
}
button{
    @include btn-reset-default;
    border-radius: 1rem;
    font-size: 20px;
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: #eee;
    &:hover{
        background-color: #ccc;
        transition: all 500ms;

    }
}
.container{
    @include flex-row;
    height: 300px;

    &>div{
        @include flex-column;
        justify-content: space-between;
        width: 180px;
        height: 100%;
        margin-right: 10px;
        &>p{
            @include flex-center;
            border-radius: 1rem;
            font-family: 'Bebas Neue';
            transition: all 500ms;
            font-size: 50px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            margin-bottom: 10px;

            &.active{
                background-color: darkred;
                color: #fff;
            }
        }
        &:nth-child(2)>p.active{
            background-color: blueviolet;
        }
        &:nth-child(3)>p.active{
            background-color: green;
        }
        &:nth-child(4)>p.active{
            background-color: darkcyan;
        }
        &:nth-child(5)>p.active{
            background-color: darkmagenta;
        }
        &>button{
            height: 70px;
            color: #fff;
            font-family: 'Jura';
            font-weight: bold;
        }
    }
    &>.switchers{
    @include flex-column;
    justify-content: space-between;
    height: 100%;
    width: 200px;

    &>button{
        width: 100%;
        height: 145px;
        font-family: 'Jura';
        font-weight: normal;
        font-size: 30px;

        &>strong{
            font-size: 50px;
        }
        }
    }
}