@import './mixins';
@import './variables';


body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.calc {
    width: 400px;
    height: 500px;
    border: 2px solid #ff8f00;
    border-radius: 23px;
    display: flex;
    flex-direction: column;

    &>.main-screen {
        font-family: 'DS-Digital';
        font-weight: bold;
        font-size: 100px;
        color: #bbb;
        overflow: hidden;
        width: 90%;
        // background-color: #ff8f00;
    }

    &>.buttons {

        @include btn-reset-default;

    }
}