@import './mixins';
@import './variables';



body {
    font-family: 'DS-Digital';
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    line-height: 360%;
}

main {
    margin: 0 auto;

    // &>section {
    //     @include flex-row;
    // }

}

p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: 'Jura';
    font-size: 30px;
    font-weight: bold;
    line-height: 80%;
    cursor: crosshair;
}





.timer-module {
    transform: translate(560px, 560px);

    &>.current-time {
        position: absolute;
        transform: translate(-260px, -60px);
        font-size: 160px;
        color: #ff8f00;
    }

    &>.rasp-time {
        position: absolute;
        transform: translate(-120px, 80px);
        font-size: 80px;
        color: #ff8f00;
    }

    &>.seconds,
    .minutes,
    .hours,
    .hours24 {

        &>div {
            width: 58px;
            height: 58px;
            background-color: #500;
            transition: all 0.3s;
            border-radius: 50%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>.minutes-active {
            // border: 20px solid #ff8f00;
            transition: all 0.3s;
            background-color: #ff8f00;
            color: #000;
        }

    }

    &>.hours {
        transform: translate(-10px, -10px);

        &>div {
            width: 76px;
            height: 76px;
            // border: 10px solid #ff8f00;
        }

        &>.hours-active {
            border: 10px solid #ff8f00;
        }
    }

    &>.hours24 {
        transform: translate(-10px, -10px);

        &>div {
            width: 76px;
            height: 76px;
        }

        &>.hours-active {
            border: 10px solid #ff8f00;
        }



    }


    &>.seconds {
        transform: translate(2px, 2px);

        &>div {
            width: 52px;
            height: 52px;


        }

        &>.seconds-active {
            // border: 18px solid #ff8f00;
            transition: all 0.3s;
            background-color: #ff8f00;
            color: #000;
        }
    }
}

article {
    margin: 5px;
}

.active {
    background-color: #002f04;
    transition: all 0.3s;
}

.warning {
    background-color: #864c00;
    transition: all 0.3s;
}

.danger {
    background-color: #f11;
    transition: all 0.3s;
    animation: blinker 1s steps(1, end) infinite;
}

@keyframes blinker {
    50% {
        background-color: #000;
    }
}

.right-column {
    transform: translateX(1220px);
    width: 640px;
    @include flex-column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &>article {
        transition: all 0.3s;
        overflow: hidden;
        border: 2px solid #ff8f00;
        border-radius: 30px;
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
        transition: all 0.5s;
        width: 100%;
    }

    &>.dircountdown,
    .dircountdown-advanced {
        font-size: 110px;
        height: 220px;

        &>article {
            @include flex-column;
            justify-content: flex-start;
            align-items: center;

            &>.dircount-buttons {
                margin-top: 5px;
                height: 80px;
                @include flex-row;
                justify-content: center;
                align-items: flex-start;

                &>:nth-child(n) {
                    width: 80px;
                    // width: 65px;
                    margin: 0 2px;
                }

                &>button {
                    height: 100%;
                    line-height: 50%;
                    font-size: 50px;
                    transition: all 0.3s;
                }

                &>.reset {
                    background-color: darkred;
                }

                &>.play {
                    background-color: darkgreen;
                }

                &>.pause {
                    background-color: #e68200;
                }

                &>div {
                    height: 100%;
                    @include flex-column;
                    justify-content: space-between;
                    align-items: center; // margin: 0 6px;

                    &>button {
                        height: 48%;
                        width: 100%;
                    }
                }
            }
        }
    }

    &>.dircountdown {
        height: 130px;
    }

    &>.vtcountdown {
        font-size: 110px;
        height: 275px;
        transition: all 0.3s;
        overflow: hidden;
        border: 2px solid #ff8f00;
        border-radius: 30px;
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;

        &>.vtcountdown-label {
            height: 30px;
            font-size: 38px;
            white-space: nowrap;
            font-family: 'Jura';
        }

        &>article {
            width: 100%;
            @include flex-column;
            justify-content: flex-start;
            align-items: center;

            &>.vtcountdown-progressbar,
            .vtcountdown-au1,
            .vtcountdown-au2 {
                width: 90%;
                height: 20px;
                background-color: #ff8f00;
                border-radius: 10px;
                overflow: hidden;

                &>div {
                    width: 90%;
                    height: 20px;
                    background-color: #ff0000;
                    border-radius: 10px;
                    transition: all 0.3s;
                }
            }

            &>.vtcountdown-au1,
            .vtcountdown-au2 {
                height: 10px;
                border-radius: 5px;
                margin: 4px 0;
                overflow: hidden;

                &>div {
                    width: 90%;
                    height: 10px;
                    background-color: #ff0000;
                    border-radius: 5px;
                    transition: all 0.3s;
                }
            }

            &>.vtcountdown-progressbar {
                margin: 5px;
            }
        }
    }
}