///////////---- hw-12-j ----///////////////
body {
    @include flex-center;
    font-family: 'Comfortaa';
}



.selected-tab {
    transition: all 300ms;
    background-color: #1426e1 !important;
}

.tabs {
    width: 400px;
    height: 400px;
    @include flex-column;
    justify-content: flex-start;
    // &_selector {
    // }
    &>ul {
        @include flex-row;
        justify-content: space-around;
        width: 100%;
        font-size: 16px;
        cursor: crosshair;
        &>li {
            font-size: 18px;
            font-weight: bold;
            width: 100%;
            height: 50px;
            color: #fff;
            @include flex-center;
            background-color: #04082c;
            // position: relative;
            &:hover {
                background-color: #000969;
                transition: all 300ms;
            }}
        &>div {
            // position: relative;    
        }
    }
    // &>ul:nth-child(2) {
    
}
.tabcontent {
            // margin-top: 100px;
            visibility: hidden;
            opacity: 0;
            padding: 15px;
            color: #656565;
            border: 1px solid #656565;
            font-size: 15px;
            width: 400px;
            position: absolute;
        }
        .visible {
    // display: none;
    visibility: visible !important;
    transform-origin: top;
    opacity: 1 !important;
    transition: all 300ms;
}