@import './variables';

$xs-screen: 576px;
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

@mixin xs-mobile {
  @media (max-width: #{$xs-screen - 0.1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$sm-screen - 0.1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$md-screen - 0.1px}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$lg-screen - 0.1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$lg-screen}) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin btn-reset-default {
  border: none;
  display: inline-block;
  outline: none;
  padding: 0;
  font-size: $base-font-size;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}