@import './mixins';
@import './variables';

body {
    font-size: 80px;
    color: #fff;
}

main {
    @include flex-column;
    justify-content: center;
    align-items: center;

}

div {
    width: 80%;
    height: 150px;
    background-color: #500;
    @include flex-column;
    justify-content: center;
    align-items: center;
    // border-radius: 20px;

    &:nth-child(1) {
        border-radius: 10px 10px 0 0;

    }

    &:nth-last-child(1) {
        border-radius: 0 0 10px 10px;

    }
}

.green {
    background-color: #050;

    content: text('kkmkkmk');
}

.blue {
    background-color: #005;
}

.magenta {
    background-color: #055;
}